.courseView {

    height: calc(100vh - 50px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &>.filter {
        background-color: rgb(153, 201, 244);
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
        display: flex;
        gap: 10px;

        @media (max-width:700px) {
           flex-direction: column; 
        }

    }

    &>.cardList {
        margin: 5px;
        overflow: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &>.card {
            width: 80%;
            max-width: 700px;
            background-color: rgb(255, 255, 255);
            margin: 4px;
            padding: 10px;
            cursor: pointer;
            border-radius: 5px;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);


            &:hover {
                background-color: rgb(141, 249, 139);
            }

            .cardHeader {
                display: flex;
                justify-content: space-between;

                .title {
                    display: flex;
                    font-weight: bold;
                    font-style: oblique;

                }

                .enrollmentStatus {
                    display: flex;

                }
            }

            .bookDetails {
                margin-top: 5px;
                display: flex;
                justify-content: space-between;

                &>div {
                    &>span {
                        font-style: italic;
                    }
                }

            }
        }

    }

}

.search {
    width: 200px;
    border-radius: 5px;
    padding: 3px;
}

.keywordSearch{
    display: flex;
    
}

.filter {

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.filterStatus {
    display: flex;
    margin-left: 50px;
    gap: 10px;
}

.enrollmentStatus{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    &>select{
            height: 30px;
    }

    &>.searchButton{
        background-color: rgb(35, 148, 247);
        cursor: pointer;
        color: white;
      
        padding: 2px;
        &:hover {
            background-color: rgb(8, 93, 150);
        }
    }
}