.courseCard {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.courseView {
    height: calc(100vh - 50px);
    overflow: auto;
}

h1 {
    font-size: 2em;
    color: #333;
}

p {
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.enrollStatus {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    &>div {
        background-color: #0056b3;
        padding: 10px;
        color: white;
        border-radius: 5px;

        &:hover {
            cursor: pointer;
            background-color: #007BFF;
        }
    }
}

button:hover {
    background-color: #0056b3;
}

.syllabusContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
    }
}

@media (max-width: 600px) {
    .courseCard {
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
    }
}